<!doctype html>
<html>
<head>
    <title>Travel Agency</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    {{{_sections.head}}}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<header><img src="/img/logo.png" alt="Travel Agency Logo"></header>
    {{{body}}}

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
    {{{_sections.jquery}}}
</body>
</html>
